<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<link rel="stylesheet" type="text/css" href="/static/css/pop_up_form.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style type="text/css">
		#myUL {
		  /* Remove default list styling */
		  list-style-type: none;
		  padding: 0;
		  margin-bottom: 0;
		 
		}

.button-danger
{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right,#669999,  #5c8a8a, #3d5c5c);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin-top: 0px;
	cursor: pointer;
	transition: .5s;
}

		#myUL li a:hover:not(.header) {
		  background-color: #eee; /* Add a hover effect to all links, except for headers */
		}
		
		.form-popup{
			top:0;
			left: 0;
			
			
			position: absolute;
			z-index: 10;
			margin-left: 500px;
			margin-right: 200px;
			margin-top: 100px;
			background-color: rgba(0,0,0,0.6);
			display: none;

		}
		.clg_ul{
			
			overflow-y: scroll;
			height: 300px;
		}
		.login-content{
			height: 600px;
			overflow-y: scroll;


		}
		
		.radio-text{
		
    		left: 0;
    		top: 0;
   			 margin-left: 0rem;
    		background: none;
    		padding: 0.5rem 0.7rem;
    		font-size: 1.2rem;
    		color: #555;
   			font-family: 'poppins', sans-serif;
		}
		
		
		</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-size: large;">
		<a class="navbar-brand" href="#" style="font-size:x-large;">WELCOME TO DIGITAL CLASSES</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav" style="font-size: larger;">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item ">
			  <a class="nav-link" href="#">Home </a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">About us</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Contact Us</a>
			</li>
			
          </ul>
          <ul class="navbar-nav " style="margin-right: 100px;">
            <li class="nav-item">
                <a class="nav-link" href="/login"> Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Sign Up</a>
            </li>
        </ul>
		</div>
	  </nav>
	  
	 
	<!-- <img class="wave" src="img/wave.png"> -->
	<div class="container" id="user_reg" >
		<div class="img">
			<img  src="/static/img/test_img.gif">
		</div>
		<div class="login-content" style="display: block;"> 
			<form action = "/create_id" method="POST">
				<img src="/static/img/topa.png">
				<h2 class="title">Sign up</h2>
				
				<div class="input-div one">
					<div class="i">
							<i class="fas fa-user"></i>
					</div>
					<div class="div">
							<!-- <h5>Select College</h5> -->
							<input type="text" name="user_data1" id="user_data_clgname" placeholder="Select Your Collge Name" onclick="fun()" required="true" class="input">
							
							<div id="print">
									{% with messages = get_flashed_messages() %}
				                      {% if messages %}
				                        {% for message in messages %}
				                          <script type="text/javascript">
				                          alert("{{ message }}");
				                          </script>
				                        {% endfor %}
				                      {% endif %}
				                    {% endwith %}
							</div>
					</div>
				 </div>
				 <div class="input-div one">
					<div class="i">
							<i class="fas fa-user"></i>
					</div>
					<div class="div">
							<!-- <h5>College ID</h5> -->
							<input type="text" name="user_data2" id="user_data1" placeholder="Enter Email ID or Username" required="true" class="input">
							<div id="print">
				

							</div>
					</div>
				 </div>
				 <div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<!-- <h5>Password</h5> -->
           		    	<input type="text" class="input" name="user_data3" id="user_data3" placeholder="Enter Your Name" required="true">
            	   </div>
                </div>
           		
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<!-- <h5>Password</h5> -->
           		    	<input type="password" class="input" name="user_data4" id="user_data4" placeholder="Enter The Password" required="true">
            	   </div>
                </div>
                <div class="input-div pass">
                    <div class="i"> 
                         <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        
						 <!-- <input type="text" class="input" name="user_data5" id="user_data5" placeholder="Teacher/Student" required="true" on> -->
						
						 <div class="form-check form-check-inline">
							<input type="radio" class="form-check-input" id="teacher1" name="user_data5">
							<label class="form-check-label" for="teacher1"><p1 class="radio-text">Teacher</p1></label>
						  </div>
						  
						  <!-- Material inline 2 -->
						  <div class="form-check form-check-inline">
							<input type="radio" class="form-check-input" id="student1" name="user_data5">
							<label class="form-check-label" for="student1"><p1 class="radio-text">Student</p1></label>
						  </div>
						
                     
                 </div>
              </div>
              <div class="input-div pass">
                    <div class="i"> 
                         <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                         <!-- <h5>Password</h5> -->
                         <input type="text" class="input" name="user_data6" id="user_data6" placeholder="ROLL" >
                 </div>
              </div>
            	
				<input type="submit" class="btn" value="Submit" style="display: block;">
				<!-- <a href="clg_reg.html">create new account</a> -->
            </form>
        </div>
    </div>
    <div id="clginput" class="form-popup" >
    	<div style="z-index: 11;opacity: 1; height: 200px">
    		<div class="active-pink-3 active-pink-4 mb-4">
    			<input type="text" class="form-control" placeholder="Search" aria-label="Search" id='in' onkeyup="myFunction()">
				<ul id="myUL"  class="clg_ul" style="z-index: 11;opacity: 1; background:rgba(255,255,255,1) ">
				 {% for clg in clgs %}
				  <li style="text-align: center;margin:2%;" onclick="closeForm('{{ clg }}')">{{ clg }}</li>
				 {% endfor %}
				</ul>
				<button type="button" class="button-danger" onclick="closeForm('')">Close</button>
    		</div>
    	</div>
	</div> 
	
	 
	
    <script type="text/javascript" src="/static/js/main.js"></script>
    <!-- <script type="text/javascript" src="js/Student_teacher.js"></script>
     <script type="text/javascript" src="/static/js/user_reg.js"></script> -->
     <script type="text/javascript">
     	function myFunction() {
		  // Declare variables
		  var input, filter, ul, li, a, i, txtValue;
		  input = document.getElementById('in');
		  filter = input.value.toUpperCase();
		  ul = document.getElementById("myUL");
		  li = ul.getElementsByTagName('li');

		  // Loop through all list items, and hide those who don't match the search query
		  for (i = 0; i < li.length; i++) {
		    // a = li[i].getElementsByTagName("a")[0];
		    // txtValue = a.textContent || a.innerText;
		    txtValue = li[i].innerHTML
		    if (txtValue.toUpperCase().indexOf(filter) > -1) {
		      li[i].style.display = "";
		    } else {
		      li[i].style.display = "none";
		    }
		  }
		}

		function fun()
		{
			ele1=document.getElementById("user_reg").style
			ele1.opacity=0.3
			ele=document.getElementById("clginput").style
			  ele.display="block"
			  ele.opacity=1
  			ele.height=screen.height*(1/2)+'px'
  			ele.width=screen.width*(1/4)+'px'
  			// inp=document.getElementById("myUL").style
  			// inp.style.opacity=1;
  			// inp.width=screen.width*3/10 + 'px'
  			// inp.top='30%'
  			// inp.left=(screen.width-inp.width)/2 + 'px';
			

		}

		function closeForm(clg){
			ele1=document.getElementById("user_reg").style
			ele1.opacity=1
			document.getElementById("user_data_clgname").value=clg;
			document.getElementById("clginput").style.display = "none";
		}
     </script>
</body>
</html>
