* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

body {
  z-index: -999;
}

.navbar-nav {
  max-height: 6rem;
}

.position {
  color: #454B66;
  font-size: 1rem;
}

.panel {
  display: inline;
  margin-left: auto;
}

/* Horizontal navbar */

.navbar-home {
  position: fixed;
  z-index: 1000;
  background-color: #d0dfff;
  height: 5rem;
  max-height: 5rem;
  width: 100%;
  overflow: visible;
  box-shadow: 7px 7px 40px #fff;
}

.navbar-brand img {
  /* filter: invert(100%) contrast(200%); */
  /* filter: hue-rotate(100%); */
  filter: contrast(300%);
}



.nav-item {
  font-size: 1rem;
  color: #454B66;
  padding-top: 1.2em;
  margin: 0 2em 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-item:hover {
  cursor: pointer;
  color: #F4442E;
}


.nav-item:hover .icon-caption{
  cursor: pointer;
  color: #F4442E;
}

#icon-profile img{
  margin: auto;
}

.icon-caption {
  text-align: center;
  color: #454B66;
  font-size: .9em;
  font-weight: bold;
  padding-top:0;
  margin-bottom: .8rem;
}

.icon-caption:hover {
  text-decoration: none!important;
}

.fa-2x {
  font-size: 1.6em;
  margin: auto;
}

/* notification number */



.panel .navbar-nav .nav-item .notify-count {
  padding-left: 3.3px;
  padding-top: 2.3px;
  font-size: 9px;
  color: #fff;
  background-color: #F4442E;
  top: 2.5em;
  right: .5em;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #fff;
}


/* Profile Modal */


#avatar{
  height: 40px;
  width: 40px;
  border: 1px solid #14213D;
  border-radius: 50%;
}

#icon-profile:hover #avatar {
  border-color: #F4442E;
}

.dropdown-item-icon {
  display: inline;
  font-size: 1.1em;
}

.dropdown-profile {
  display: none;
  border-radius: 4px;
  position: absolute;
  z-index: 1000;
  bottom: -9.1rem;
  right: 2.3rem;
  padding: 1em 0;
  background-color: #f0f5ff;
  box-shadow: 0px 5px 8px #ccc;
  overflow: visible;
}


.dropdown-profile::before {
  content:'';
  position: absolute;
  top: -1.3rem;
  right: 12%;
  /* transform: translateX(-5%); */
  border: 12px solid;
  border-color: transparent transparent #f0f5ff transparent;

}

.profile-options {
  padding: 0;
}

.menu-item:hover {
  background-color: #fff;
}

.menu-item {
  padding: .5em 1em;
}

.menu-item a, .menu-item i{
  padding-left: .4em;
  padding-right: .3em;
  color: #0d1a36;
}

.menu-item:hover a, .menu-item:hover i{
  /* color: #fff; */
  text-emphasis: none;
  text-decoration: none;
}


/* Content */

body {
  background-color: #f0f8ff;
}

.title {
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  word-spacing: .8em;
  color: #454B66;
  font-weight: bolder;
}

.ruler {
  max-width: 80%;
  padding: .9em;
  padding-bottom: 0;
}

.content {
  margin-top: 8em;
  background-color: #f0f8ff;
  width: 100%;
  height: 100%;
  padding: 3em;
}


.classes {
  padding : 1em;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

/* Customizing card */

.class-view {
  background-color: #fff;
  margin: 1em;
  box-shadow: 7px 7px 30px #c7c7c7;
  overflow: visible;
}

.class_id {
  font-size: 1.1rem;
  font-weight: bold;
  color: #2196F3;
}

.card-title {
  margin-top: 15px;
  padding: 0 15px;
}


.class-name {
  padding: 0 15px;
  font-size: 1.5rem;
  color: #000;
  font-weight: bold;
  /* width: 90%; */
}

.animate-192406 {
  animation-name: swing;
  animation-duration: .8s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.options {
  padding: 0 5px;
}
.icon-shelf {
  text-align: center;
  height: 3.9rem;
  overflow: hidden;
}

.icon-card {
  width: 100%;
  height: 100%;
  text-decoration: none;
  overflow:hidden;
}

.icon-card:hover {
  text-decoration: none;
}

.icon-card i {
  font-size: 1.4rem;
  transition: ease-in;
  transition-duration: .1s;
}

.icon-card:hover i{
  font-size: 1.6rem;
  color: #14213D;
  text-decoration: none;
}

.icon-card p {
  margin: auto;
  font-size: .6em;
  transition: ease-in;
  transition-duration: .1s;
}

.icon-card:hover p {
  color: #14213D!important;
  margin: auto;
  font-size: .7em;
  text-decoration: none!important;
}

.btn-custom {
  margin: 3px;
}

/* Last card */

.card-input {
  position: relative;
  margin: .5em 0;
  padding: .7em;
  width: 100%;
  background-color: #0d1a36;
  color: #e5e5e5;
  border: none;
}

.card-input:focus {
  background-color: #0d1a36;
  border:none!important;
}

.join-class {
  background-color: #14213D;
  opacity: 1;
  /* width: 100%; */
}

#print {
  margin : .3em 0;
  font-size: .8rem;
  text-transform: lowercase;
  color: #c7c7c7;
}

.create-card-btn {
  text-align: center;
  margin: auto;
  color: #fff;
  /* background-color: #0d1a36; */
  padding: .5em;
  /* margin: .3em 0; */
}

.remove-btn {
  text-align: center;
  margin: auto;
  color: #fff;
  background-color: #AD343E;
}

.remove-btn:hover {
  background-color: #f52323;
  color: #fff;
}

/* create icon */

.create {
  position: absolute;
  top: -1rem;
  right: -1rem;
  /* border: 1px solid black; */
  width: 10rem; 
  height: 4rem; 
  padding:0;
  overflow: hidden;
}

.icon-create {
  position: absolute;
  top: 5px;
  right:5px;
  /* box-shadow: 0px 9px 40px rgb(169, 174, 224); */
  border-radius: 50%;
  overflow-y: hidden;
}


.icon-create img {
  height: 30px;
  width: 30px;
  transition:ease;
  transition-duration: .5s;
}


.create:hover .icon-create img {
  border:0;
  height: 25px;
  width: auto;
  transform: rotateZ(-135deg);
  cursor:pointer;
  overflow-y: hidden;
  transition:ease-out;
  transition-duration: .6s;
}


.create-list {
  background: none;
  /* border-top-right-radius: 15px; */
  position: relative;
  display:none;
  top: 1px;
  right: 1px;
  overflow: hidden;
}

.create:hover .create-list{
  animation-name: slide-left;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  display: block;

}

@keyframes slide-left {
  from{right:-18rem}
  to {right:0rem}
}


.btn-custom-create {
  color: #FFF;
  font-size: .8rem;
  text-align: left;
  display: none;
  padding-right: 1.5em;
  background-color: #E5E5E5;
  width: 100%;
  margin: 0;
}

.create:hover .create-list .btn-custom-create{
  display:block;
  border-radius: 0;
  background-color: #2196F3;
  color: #fff;
}

.btn-custom-create:hover {
  background-color: rgb(21, 103, 165)!important;
}

/* no of students */
.card-title .totalCount{
  margin-top: 0.7em;
  float:right;
  overflow-y: hidden;
}

.num {
  font-size: 3rem;
  overflow-y: hidden;}